<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace로 TestMapper와 연결 -->
<mapper namespace="org.WorkWith.mapper.BoardMapper">
	<insert id="boardwrite">
	<!-- <selectKey keyProperty="bno" order="BEFORE" resultType="int">
		select MAX(bno)+1 from board;
	</selectKey> 이 selecKey를 사용하기 위해서는 insert문에 bno를 추가해 주어야 함.또한 board 테이블이 비어있을 경우 오류발생-->
		insert into board(title, content, category, id, position, department)
		values(#{title},#{content},#{category},#{id}, #{position}, #{department})
	<!-- board테이블이 비어있어도 사용 가능 -->
	<selectKey keyProperty="bno" order="AFTER" resultType="int">
		select LAST_INSERT_ID();
	</selectKey>
	</insert>
	
	 <select id="search" resultType="org.WorkWith.model.BoardVO">
		select * 
		from (
			select @rownum:=@rownum+1 rownum, b.*
			from board b, (select @rownum:=0) as tmp
			where title like CONCAT('%',#{keyword},'%') or content like CONCAT('%',#{keyword},'%')
			order by bno desc
		) as boardlist
		<![CDATA[
			where rownum>(#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>
	</select>
	
	<select id="total" resultType="int">
		select count(*) from board
		where title like CONCAT('%',#{keyword},'%') or content like CONCAT('%',#{keyword},'%')
	</select>
 </mapper>