<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.WorkWith.mapper.PaymentMapper">
	<insert id="paymentWrite">
		insert into payment(title, content,id)
		values(#{title},#{content},#{id})
		<selectKey keyProperty="pno" order="AFTER" resultType="int">
			select LAST_INSERT_ID();
		</selectKey>
	</insert>
	<insert id="statusInsert">
		insert into paymentstatus(sendId, sendPosi, sendDep, sendName, recvId,
		recvPosi, recvDep, recvName, pno)
		value(#{sendId}, #{sendPosi},
		#{sendDep}, #{sendName}, #{recvId}, #{recvPosi}, #{recvDep},
		#{recvName} ,#{pno});
	</insert>
</mapper>