@charset "UTF-8";
body {
    text-align: center;
    background: lightgray;
}
#myPw_table {
    margin: auto;
    text-align: left;
}

#myPw_table td {
    text-align: center;
}

.myPw {
    width: 300px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
}
.myPw_button {
    position: relative;
    top: 20px;
    margin: 0px 10px;
    padding: 5px 10px 5px 10px;
	background: darkgray;
	border:0;
	border-radius:5px;
}

.blank{
	height:23px;
}